{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hey there! Welcome to RayHub, the home of a passionate python programmer and agricultural engineer. I'm Ralph, the brains behind this blog, and I'm thrilled to have you here.</p>
        <p>With a strong background in agricultural engineering and a love for all things Python, I've combined my expertise to create a unique space where I can share my knowledge and experiences. From coding tips and tricks to exploring the fascinating world of agriculture, you'll find it all here.</p>
        <p>Through RayHub, I aim to inspire fellow programmers and agricultural enthusiasts alike. Whether you're a beginner looking to learn Python or an experienced coder seeking new perspectives, you'll find valuable resources, insightful articles.</p>
        <p>So, join me on this exciting adventure as we delve into the realms of Python programming, agricultural engineering, and everything in between. Together, let's unlock new possibilities and cultivate a community driven by curiosity and growth.</p>
        <p>Thanks for visiting RayHub. Stay tuned for regular updates and let's embark on this journey together.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}